params {
    outdir = "results"
    max_memory = '120.GB'
    max_cpus = 32
    max_time = '48.h'
}

process {
    withName: 'BWAMEM' {
        cpus = 16
        memory = '64.GB'
        time = '24.h'
        container = 'oras://community.wave.seqera.io/library/bcftools_bwa-mem2_bwakit_samtools:7fbe939667b95135'
    }
    withName: /GATK_.*/ {
        container = 'oras://community.wave.seqera.io/library/bcftools_fastqc_gatk4_qualimap_samtools:9f03972281f4f855'
    }
    withName: 'GATK_MUTECT2_SCATTER' {
        cpus = 8
        memory = '32.GB'
        time = '12.h'
    }
    withName: 'GATK_BASERECALIBRATOR' {
        cpus = 4
        memory = '16.GB'
        time = '6.h'
    }
    withName: 'GATK_APPLYBQSR' {
        cpus = 4
        memory = '12.GB'
        time = '6.h'
    }
    withName: 'GATK_FILTERMUTECTCALLS' {
        cpus = 4
        memory = '16.GB'
        time = '4.h'
    }

    // One env for everything: gatk4, bwa-mem2, samtools, fastqc, multiqc
    conda = 'bioconda::gatk4=4.5.0.0 bioconda::bwa-mem2=2.2.1 bioconda::samtools=1.19 bioconda::fastqc=0.12.1 bioconda::multiqc=1.22'
    errorStrategy = 'retry'
    maxRetries = 1
    maxErrors = -1
}

executor {
    queueSize = 200
}

profiles {
    local {
        process.executor = 'local'
    }
    stub {
        process {
            executor = 'local'
            stub = true
            cpus = 1
            memory = '1.GB'
            time = '1.h'
            withName: 'BWAMEM' {
                cpus = 1
                memory = '1.GB'
                time = '30.min'
                container = 'oras://community.wave.seqera.io/library/bcftools_bwa-mem2_bwakit_samtools:7fbe939667b95135'
            }
            withName: 'GATK_MUTECT2_SCATTER' {
                cpus = 1
                memory = '1.GB'
                time = '30.min'
            }
            withName: 'GATK_MUTECT2_SCATTER_TONLY' {
                cpus = 1
                memory = '1.GB'
                time = '30.min'
            }
        }
        conda.enabled = false
        timeline.enabled = false
        report.enabled = false
        trace.enabled = false
        dag.enabled = false
    }
    slurm {
        process.executor = 'slurm'
        process.queue = 'short'
        process.clusterOptions = '--export=ALL'
        executor {
            submitRateLimit = '10 sec'
        }
    }
}

timeline {
    enabled = true
    file = "${params.outdir}/timeline.html"
}
report {
    enabled = true
    file = "${params.outdir}/report.html"
}
trace {
    enabled = true
    file = "${params.outdir}/trace.txt"
}
dag {
    enabled = true
    file = "${params.outdir}/dag.svg"
}
