params {
    outdir = "results"
    max_memory = '120.GB'
    max_cpus = 32
    max_time = '48.h'
}

process {
    withName: 'BWAMEM' {
        cpus = 16
        memory = '64.GB'
        time = '24.h'
        container = 'oras://community.wave.seqera.io/library/bcftools_bwa-mem2_bwakit_samtools:7fbe939667b95135'
    }
    withName: /GATK_.*/ {
        container = 'oras://community.wave.seqera.io/library/bcftools_fastqc_gatk4_qualimap_samtools:9f03972281f4f855'
        ext.java_opts = '-Xmx10G'
        cpus = 2
        memory = '12.GB'
    }

    withName: 'SAMTOOLS_FAIDX' {
        cpus = 1
        memory = '10.GB'
        time = '24.h'
        container = 'oras://community.wave.seqera.io/library/bcftools_fastqc_gatk4_qualimap_samtools:9f03972281f4f855'
    }
 withName: 'FASTQC' {
        cpus = 4
        memory = '10.GB'
        time = '24.h'
        container = 'oras://community.wave.seqera.io/library/bcftools_fastqc_gatk4_qualimap_samtools:9f03972281f4f855'
    }

 withName: 'MERGEB' {
        cpus = 4
        memory = '10.GB'
        time = '24.h'
        container = 'oras://community.wave.seqera.io/library/bcftools_fastqc_gatk4_qualimap_samtools:9f03972281f4f855'
    }

 withName: 'VALIDATE_CRAM' {
        cpus = 2
        memory = '10.GB'
        time = '24.h'
        container = 'oras://community.wave.seqera.io/library/bcftools_fastqc_gatk4_qualimap_samtools:9f03972281f4f855'
    }


 withName: 'VALIDATE_CRAM_PON' {
        cpus = 2
        memory = '10.GB'
        time = '24.h'
        container = 'oras://community.wave.seqera.io/library/bcftools_fastqc_gatk4_qualimap_samtools:9f03972281f4f855'
  }

 withName: 'MULTIQC' {
        cpus = 4
        memory = '10.GB'
        time = '24.h'
        container = 'oras://community.wave.seqera.io/library/bcftools_fastqc_gatk4_qualimap_samtools:9f03972281f4f855'
} 

    withName: 'GATK_MUTECT2_SCATTER' {
        cpus = 2
        memory = '12.GB'
        time = '12.h'
    }
    withName: 'GATK_BASERECALIBRATOR' {
        cpus = 4
        memory = '16.GB'
        time = '6.h'
    }
    withName: 'GATK_APPLYBQSR' {
        cpus = 4
        memory = '12.GB'
        time = '6.h'
    }
    withName: 'GATK_FILTERMUTECTCALLS' {
        cpus = 4
        memory = '16.GB'
        time = '4.h'
    }

    // One env for everything: gatk4, bwa-mem2, samtools, fastqc, multiqc
    conda = 'bioconda::gatk4=4.5.0.0 bioconda::bwa-mem2=2.2.1 bioconda::samtools=1.19 bioconda::fastqc=0.12.1 bioconda::multiqc=1.22'
    errorStrategy = 'retry'
    maxRetries = 1
    maxErrors = -1
}

executor {
    queueSize = 200
}

profiles {
    local {
        process.executor = 'local'
    }
    stub {
        process {
            executor = 'local'
            stub = true
            cpus = 1
            memory = '1.GB'
            time = '1.h'
            withName: 'BWAMEM' {
                cpus = 1
                memory = '1.GB'
                time = '30.min'
                container = 'oras://community.wave.seqera.io/library/bcftools_bwa-mem2_bwakit_samtools:7fbe939667b95135'
            }
            withName: 'GATK_MUTECT2_SCATTER' {
                cpus = 1
                memory = '1.GB'
                time = '30.min'
            }
            withName: 'GATK_MUTECT2_SCATTER_TONLY' {
                cpus = 1
                memory = '1.GB'
                time = '30.min'
            }
        }
        conda.enabled = false
        timeline.enabled = false
        report.enabled = false
        trace.enabled = false
        dag.enabled = false
    }
    slurm {
        process.executor = 'slurm'
        process.queue = 'short'
        process.clusterOptions = '--export=ALL'
        executor {
            submitRateLimit = '10 sec'
        }
    }


    kutral {
        singularity.enabled    = true
        singularity.autoMounts = true
        singularity.runOptions = ' --bind /mnt/beegfs/labs/ '
        docker.enabled         = false
        podman.enabled         = false
        shifter.enabled        = false
        charliecloud.enabled   = false
        process{
        executor = 'slurm'              
        queue = 'ngen-ko'               
           withName: 'GATK_MUTECT2_SCATTER' {
                cpus = 2
                memory = '12.GB'
                time = '12.h'
                clusterOptions = '--exclude=host[01-58]'
            }
            withName: 'GATK_MUTECT2_SCATTER_TONLY' {
                cpus = 2
                memory = '12.GB'
                time = '12.h'
                clusterOptions = '--exclude=host[01-58]'
            }
        }
        executor {
            queueSize = 100
        }
    }

    leftraru{
        executor.name = 'slurm'
        executor.queue = 'main'
        executor.queueSize = 200
        singularity.enabled    = true
        singularity.autoMounts = true
        docker.enabled         = false
        podman.enabled         = false
        shifter.enabled        = false
        charliecloud.enabled   = false
    }



}

def trace_timestamp = new java.util.Date().format( 'yyyy-MM-dd_HH-mm-ss')
timeline {
    enabled = true
    file    = "${params.outdir}/pipeline_info/execution_timeline_${trace_timestamp}.html"
}
report {
    enabled = true
    file    = "${params.outdir}/pipeline_info/execution_report_${trace_timestamp}.html"
}
trace {
    enabled = true
    file    = "${params.outdir}/pipeline_info/execution_trace_${trace_timestamp}.txt"
}
dag {
    enabled = true
    file    = "${params.outdir}/pipeline_info/pipeline_dag_${trace_timestamp}.html"
}


manifest {
    defaultBranch = 'main'
    homePage = 'https://github.com/digenoma-lab/nf-mutect2'
    author = 'Alex Di Genova'
    version = '0.0.1'
}
